<header>
  <div class="image">
    <div class="container-md">
      <h1>
        <span class="hash gradient-cool-to-bottom">#</span>
        propsAF
      </h1>
      <h2>
        Monetize the #@*! out of your content.
      </h2>
      <div class="buttons">
        <button mat-button class="social-button google button-reset" [routerLink]="'/account/dashboard'">
          <img src="/assets/Logo_Google.svg" height="22"/>
          <span>
              Sign in with Google
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
<div class="body">
  <div class="container-md">
    <app-card-module [title]="'Test'">

    </app-card-module>
  </div>
  <div class="card">
    <div class="card-icon">

    </div>
    <div class="card-title">

    </div>
    <div class="card-description">

    </div>
  </div>
</div>
<footer>

</footer>
